BODY
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Tahoma, Arial
}
A:link
{
    COLOR: blue
}
A:visited
{
    COLOR: blue
}
A:active
{
    COLOR: blue
}
A:hover
{
    COLOR: darkorange
}

H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
}

DIV
{
  DISPLAY: inline;
}

SPAN.Webdings
{
  DISPLAY: inline;
  FONT-FAMILY: Webdings;
  FONT-SIZE: 8pt;
}

TABLE
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Tahoma, Arial;
}


INPUT.BTN 
{
  BORDER-RIGHT: steelblue 1px solid; 
  BORDER-TOP: silver 1px solid; 
  BORDER-LEFT: silver 1px solid; 
  BORDER-BOTTOM: steelblue 1px solid; 
  FONT-WEIGHT: bold; 
  FONT-SIZE: 8pt; 
  COLOR: black; 
  FONT-FAMILY: Verdana; HEIGHT: 24px; 
  BACKGROUND-COLOR: #c0d4ee;
  HEIGHT:24px;
  WIDTH:76px;
}

.contextMenuItem 
{
	cursor: hand; 
	padding:3px 10px 3px 10px;
    display: block;
    white-space: nowrap;
}

.contextHighlightItem 
{
	cursor:hand; 
	padding:3px 10px 3px 10px; 
	background-color:steelblue; 
	color:white; 
	font-weight:bold;
    display: block;
    white-space: nowrap;
}

.contextMenuBody 
{
   padding:2px; border:1px solid gray;
   background-color:lightsteelblue;
   color:black;
   text-decoration:none;
   position:absolute;
   filter:progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#dddddd,strength=5);
   width:200px;
   display: block;
   behavior:url(contextmenu.htc);
}
TD.FR
{
  padding:10px; 
  border-left:1px solid steelblue;
  border-bottom:1px solid steelblue;
  border-right:1px solid steelblue
  verticat-align:top;
  background-color:white;
}

TD.ActiveTab {padding: 4px 7px 4px 7px;border-left:1px solid steelblue; border-top:1px solid steelblue; border-right:1px solid steelblue; background-color:white}
TD.PaddingTab {padding: 4px 7px 4px 7px;border-bottom:1px solid steelblue; background-color:ghostwhite}
DIV.ActiveDiv {font-weight:bold;cursor:default; color:black; text-decoration:none; white-space:nowrap}

TD.TTH
{
  color:darkblue;
  background-color:lightsteelblue;
  font-weight:bold;
  filter:progid:DXImageTransform.Microsoft.Wave(freq=1,LightStrength=10,Phase=0,Strength=0);
}

TD.TCH
{
  text-align:right;
  width:5%;
  border-bottom:1px solid silver;
  background-color:#dcdcdc;
  border-left:1px solid silver;
  white-space:nowrap;
}

TD.TCV
{
  background-color:Cornsilk;
  border-right:1px solid silver;
  border-bottom:1px solid silver;
  font-weight:bold;
}
